<article class="post">
    <div class="title">
    <span>{{post.title}}</span><span style="float:right">Posted by {{post.user.username}} on {{post.created_at}}</span><br>
    </div>
    <div class = "content">
        <p>{{post.post_text}}</p>
    </div>
</article>